{% extends 'base.html' %}

{% block head %}
<style type="text/css">
    .jumbotron {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('{{ url_for("static", filename="garin-chadwick-NImPMBE8m-U-unsplash.jpg") }}');
        min-height: 300px;
        height: 40vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

<div class="container text-end">
    <div class="row">
        <div class="col">
            <em>
                Photo credit:
                <a href="https://unsplash.com/photos/NImPMBE8m-U">Garin Chadwick</a>
            </em>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row">
        <div class="text-middle">
            <h1 class="fw-medium">Welcome!</h1>
            <p class="lead">
                After searching high and low for the 4Runner I wanted, I knew there had
                to be a better way. This site offers a <span class="fw-bold">very unofficial</span>
                method for tracking Toyota 4Runner inventory across the USA.

                The site currently tracks
                <span class="fw-bold">{{ "{:,}".format(total_vehicles) }}</span>
                vehicles!
            </p>
            <p class="lead">
                Automated scripts update the data once a day around
                <a href="https://time.is/compare/0400AM_in_UTC">4AM UTC</a>.
            </p>
            <p class="lead">
                Found a bug? Have an idea for improvements?
                Open an issue or pull request on <a href="https://github.com/major/toyota-inventory">GitHub</a>.
            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Model Stats</h5>
                <p class="card-text">
                    This is a ranked list of models based on currently available inventory.
                </p>
                <div class="container">
                    {% for _, r in models.sort_values('Percentage', ascending=False).iterrows() %}
                    {% set model_url = r.Model.replace(' ', '_') %}
                    <div class="row">
                        <div class="col-6">
                            <a class="card-link" href="{{ url_for('vehicles_by_model', model=model_url) }}">
                                {{ r.Model }}
                            </a>
                        </div>
                        <div class="col">
                            {{ "{:,}".format(r.Count) }}
                        </div>
                        <div class="col">
                            {{ '%0.0f'| format(r.Percentage) }}%

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Popular Colors</h5>
                <p class="card-text">
                    Here are the most popular colors in the new vehicle inventory.
                </p>
                <div class="container">
                    {% for _, r in colors.sort_values('Percentage', ascending=False).iterrows() %}
                    {% set color_url = r.Color.replace(' ', '_') %}
                    <div class="row">
                        <div class="col-6">
                            <a class="card-link" href="{{ url_for('vehicles_by_color', color=color_url) }}">
                                {{ r.Color }}
                            </a>
                        </div>
                        <div class="col">
                            {{ "{:,}".format(r.Count) }}
                        </div>
                        <div class="col">
                            {{ '%0.0f'| format(r.Percentage) }}%

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Delivery Status</h5>
                <p class="card-text">
                    See where most new vehices are in the delivery process.
                </p>
                <div class="container">
                    {% for _, r in statuses.sort_values('Percentage', ascending=False).iterrows() %}
                    {% set status_url = r['Shipping Status'].replace(' ', '_') %}
                    <div class="row">
                        <div class="col-6">
                            <a class="card-link" href="{{ url_for('vehicles_by_status', status=status_url) }}">
                                {{ r['Shipping Status'] }}
                            </a>
                        </div>
                        <div class="col">
                            {{ "{:,}".format(r.Count) }}
                        </div>
                        <div class="col">
                            {{ '%0.0f'| format(r.Percentage) }}%

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inventory per State</h5>
                <p class="card-text">
                    Which states have the most vehicles available? Here are the top 10.
                </p>
                <div class="container">
                    {% for _, r in states.sort_values('Percentage', ascending=False).head(10).iterrows() %}
                    <div class="row">
                        <div class="col-6">
                            <a class="card-link" href="{{ url_for('vehicles_by_state', state=r['Dealer State']) }}">
                                {{ r['Dealer State'] }}
                            </a>
                        </div>
                        <div class="col">
                            {{ "{:,}".format(r.Count) }}
                        </div>
                        <div class="col">
                            {{ '%0.0f'| format(r.Percentage) }}%
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center py-3">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h3>Can't decide how you want to search?</h3>
            <p>
                Load up the <a href="{{ url_for('all_vehicles') }}">full listing</a> to
                search and sort by whatever columns you want.
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}