{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2>
                {% if model %}
                Listing by model: {{ model }}
                {% elif color %}
                Listing by color: {{ color }}
                {% elif status %}
                Listing by status: {{ status }}
                {% else %}
                All available 4Runner vehicles
                {% endif %}
            </h2>
            <p class="lead">
                Click any column to adjust the sort order.
                Use the search box to limit your search down fewer vehicles.
            </p>
        </div>
    </div>
</div>

<div class="container-lg py-2">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table id="vehicles" class="table table-striped table-hover w-auto">
                <thead>
                    <th>Model</th>
                    <th class="text-center">Color</th>
                    <th>State</th>
                    <th class="text-end">Dealer Price<br />& Markup</th>
                    <th class="text-end">VIN</th>
                </thead>
                <tbody>
                    {% for index, r in vehicles.iterrows() %}
                    {% set total_price = r['price.baseMsrp'] + (r['price.dioTotalDealerSellingPrice']) %}
                    {% set markup = (r['price.dioTotalDealerSellingPrice'] | default(0)) %}
                    <tr>
                        <td>
                            {{ r['year'] }}
                            {{ r['model.marketingName'].replace("4Runner ", "") }}
                            <br />
                            {% if r['dealerCategory'] == "At dealer" %}
                            <!-- <span class="badge text-bg-success">At dealer</span> -->
                            {% elif r['dealerCategory'] == "Port to dealer" %}
                            <span class="badge text-bg-secondary">Port to dealer</span>
                            {% elif r['dealerCategory'] == "Factory to port" %}
                            <span class="badge text-bg-secondary">Factory to port</span>
                            {% endif %}

                            {% if r['isPreSold'] %}
                            <span class="badge text-bg-danger">Pre-Sold</span>
                            {% else %}
                            <!-- <span class="badge text-bg-success">For Sale</span> -->
                            {% endif %}
                            {% if r['holdStatus'] == 'DealerHold' %}
                            <span class="badge text-bg-danger">Dealer Hold</span>
                            {% elif r['holdStatus'] == 'Available' %}
                            <!-- <span class="badge text-bg-success">No Dealer Holds</span> -->
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ r['extColor.marketingName'] }}
                        </td>
                        <td>
                            <a href="{{ r['dealerWebsite'] }}" title="{{ r['dealerMarketingName'] }}">
                                {{ r['state'] }}
                            </a>
                        </td>
                        <td class="text-end">
                            {{ "${:,.0f}".format(total_price) }}
                            {% if markup > 0 %}
                            <br />
                            <span class="badge text-bg-danger">
                                {{ "${:,.0f}".format(markup) }}
                            </span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a title="Look up this vehicle on Toyota Tracker"
                                href="https://toyota-tracker.com/lookup/{{ r['vin']}}" target="_blank">
                                {{ r['vin'] }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#vehicles").DataTable({
            orderCellsTop: true,
            order: [[3, 'asc']],
            "lengthMenu": [
                [50, 100, -1],
                [50, 100, "All"]
            ]
        });
    });
</script>
{% endblock %}