{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2>
                {% if model %}
                Listing by model: {{ model }}
                {% elif color %}
                Listing by color: {{ color }}
                {% elif status %}
                Listing by status: {{ status }}
                {% else %}
                All available 4Runner vehicles
                {% endif %}
            </h2>
            <p>
                All vehicles are sorted by price from low to high.
                A price followed by a red markup badge, such as
                <span class="badge text-bg-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    {{ "${:,.0f}".format(1000) }}
                </span>
                means that there may be dealer markup on that model.
            </p>
            <p>
                Vehicles marked with <span class="badge text-bg-danger">Pre-Sold</span>
                usually indicates that the dealer has promised the vehicle to a
                customer.
            </p>
            <p>
                <span class="badge text-bg-danger">Dealer Hold</span> means that the
                dealer is holding the car for some reason but it may not be pre-sold
                already. This sometimes occurs when the dealer wants to add aftermarket
                parts or there's a customer in the pipeline who hasn't committed to the
                vehicle yet.
            </p>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for index, r in vehicles.iterrows() %}
        {% set markup = (r['Dealer Price'] | default(0)) - r['Base MSRP'] %}
        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='photos/' + r.Color.replace(' ', '_') + '.png') }}"
                    class="card-img-top" alt="4Runner in {{ r.Color }}" style="height: 10vw; object-fit: scale-down">
                <div class="card-header">
                    <h5 class="card-title">{{ r.Year }} {{ r.Model }} {{ r.Drivetrain }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {{ r.Color }} &middot;
                        {{ "${:,.0f}".format(r["Dealer Price"]) }}
                        {% if markup > 0 %}
                        <span class="badge text-bg-danger mx-2">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            {{ "${:,.0f}".format(markup) }}
                        </span>
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body text-center">
                    <p>
                        {% if r['Pre-Sold'] == 'Yes' %}
                        <span class="badge text-bg-danger">Pre-Sold</span>
                        {% else %}
                        <span class="badge text-bg-success">For Sale</span>
                        {% endif %}
                        {% if r['Hold Status'] == 'Available' %}
                        <span class="badge text-bg-success">No Dealer Holds</span>
                        {% else %}
                        <span class="badge text-bg-danger">Dealer Hold</span>
                        {% endif %}
                    </p>
                    <p>
                        <a href="{{ r['Dealer Website']}}" class="card-link">
                            {{ r.Dealer }}
                            ({{r['Dealer State']}})
                        </a>
                    </p>
                    <p>
                        <a title="Look up this vehicle on Toyota Tracker"
                            href="https://toyota-tracker.com/lookup/{{ r['VIN']}}" target="_blank">
                            {{ r['VIN'] }}
                        </a>
                    </p>
                    <div class="container py-1">
                        <div class="progress" role="progressbar">
                            {% if r["Shipping Status"] == "At dealer" %}
                            <div class="progress-bar bg-success fw-bold text-black" style="width: 100%">
                                AT DEALER
                            </div>
                            {% elif r['Shipping Status'] == "Port to dealer" %}
                            <div class="progress-bar bg-warning fw-bold text-black" style="width: 66%">
                                PORT TO DEALER
                            </div>
                            {% elif r['Shipping Status'] == "Factory to port" %}
                            <div class="progress-bar bg-danger fw-bold text-black" style="width: 33%">
                                FACTORY TO PORT
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}