{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2>
                {% if model %}
                Listing by model: {{ model }}
                {% elif color %}
                Listing by color: {{ color }}
                {% elif status %}
                Listing by status: {{ status }}
                {% else %}
                All available 4Runner vehicles
                {% endif %}
            </h2>
            <p>
                All vehicles are sorted by price from low to high.
                A price followed by a red markup badge, such as
                <span class="badge text-bg-danger">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    {{ "${:,.0f}".format(1000) }}
                </span>
                means that there may be dealer markup on that model.
            </p>
            <p>
                Vehicles marked with <span class="badge text-bg-danger">Pre-Sold</span>
                usually indicates that the dealer has promised the vehicle to a
                customer.
            </p>
            <p>
                <span class="badge text-bg-danger">Dealer Hold</span> means that the
                dealer is holding the car for some reason but it may not be pre-sold
                already. This sometimes occurs when the dealer wants to add aftermarket
                parts or there's a customer in the pipeline who hasn't committed to the
                vehicle yet.
            </p>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for index, r in vehicles.iterrows() %}
        {% set markup = (r['Dealer Price'] | default(0)) - r['Base MSRP'] %}
        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='photos/' + r.Color.replace(' ', '_') + '.png') }}"
                    class="card-img-top" alt="4Runner in {{ r.Color }}" style="height: 10vw; object-fit: scale-down">
                <div class="card-header">
                    <h5 class="card-title">{{ r.Year }} {{ r.Model }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {{ r.Color }} &middot;
                        {{ "${:,.0f}".format(r["Dealer Price"]) }}
                        {% if markup > 0 %}
                        <span class="badge text-bg-danger mx-2">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            {{ "${:,.0f}".format(markup) }}
                        </span>
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body text-center">
                    <p>
                        {% if r['Pre-Sold'] == 'Yes' %}
                        <span class="badge text-bg-danger">Pre-Sold</span>
                        {% else %}
                        <span class="badge text-bg-success">For Sale</span>
                        {% endif %}
                        {% if r['Hold Status'] == 'Available' %}
                        <span class="badge text-bg-success">No Dealer Holds</span>
                        {% else %}
                        <span class="badge text-bg-danger">Dealer Hold</span>
                        {% endif %}
                    </p>
                    <p>
                        <a href="{{ r['Dealer Website']}}" class="card-link">
                            {{ r.Dealer }}
                            ({{r['Dealer State']}})
                        </a>
                    </p>
                    <p>
                        <a title="Look up this vehicle on Toyota Tracker"
                            href="https://toyota-tracker.com/lookup/{{ r['VIN']}}" target="_blank">
                            {{ r['VIN'] }}
                        </a>
                    </p>
                    <div class="container py-1">
                        <div class="progress" role="progressbar">
                            {% if r["Shipping Status"] == "At dealer" %}
                            <div class="progress-bar bg-success fw-bold text-black" style="width: 100%">
                                AT DEALER
                            </div>
                            {% elif r['Shipping Status'] == "Port to dealer" %}
                            <div class="progress-bar bg-warning fw-bold text-black" style="width: 66%">
                                PORT TO DEALER
                            </div>
                            {% elif r['Shipping Status'] == "Factory to port" %}
                            <div class="progress-bar bg-danger fw-bold text-black" style="width: 33%">
                                FACTORY TO PORT
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class=" container-lg py-2" hidden>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table id="vehicles" class="table table-striped table-hover text-center">
                <thead>
                    <th class="text-center">Model</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">State</th>
                    <th class="text-center">Price<br />& Markup</th>
                    <th class="text-center">VIN</th>
                </thead>
                <tbody>
                    {% for index, r in vehicles.iterrows() %}
                    {% set markup = (r['Dealer Price'] | default(0)) - r['Base MSRP'] %}
                    <tr>
                        <td>
                            {{ r['Year'] }}
                            {{ r['Model'] }}
                            <br />
                            {% if r["Shipping Status"] == "At dealer" %}
                            <!-- <span class="badge text-bg-success">At dealer</span> -->
                            {% elif r['Shipping Status'] == "Port to dealer" %}
                            <!-- <span class="badge text-bg-secondary">Port to dealer</span> -->
                            <i class="fa-solid fa-truck-arrow-right"></i>
                            {% elif r['Shipping Status'] == "Factory to port" %}
                            <i class="fa-solid fa-ship"></i>
                            <!-- <span class="badge text-bg-secondary">Factory to port</span> -->
                            {% endif %}

                            {% if r['Pre-Sold'] %}
                            <!-- <span class="badge text-bg-danger">Pre-Sold</span> -->
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            {% else %}
                            <!-- <span class="badge text-bg-success">For Sale</span> -->
                            {% endif %}
                            {% if r['Hold Status'] == 'DealerHold' %}
                            <!-- <span class="badge text-bg-danger">Dealer Hold</span> -->
                            <i class="fa-solid fa-building-lock"></i>
                            {% elif r['Hold Status'] == 'Available' %}
                            <!-- <span class="badge text-bg-success">No Dealer Holds</span> -->
                            {% endif %}
                        </td>
                        <td>
                            {{ r['Color'] }}
                        </td>
                        <td>
                            <a href="{{ url_for('vehicles_by_state', state=r['Dealer State']) }}"
                                title="{{ r['dealerMarketingName'] }}">
                                {{ r['Dealer State'] }}
                            </a>
                        </td>
                        <td>
                            {{ "${:,.0f}".format(r["Dealer Price"]) }}
                            {% if markup > 0 %}
                            <br />
                            <span class="badge text-bg-danger">
                                {{ "${:,.0f}".format(markup) }}
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            <a title="Look up this vehicle on Toyota Tracker"
                                href="https://toyota-tracker.com/lookup/{{ r['VIN']}}" target="_blank">
                                {{ r['VIN'] }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#vehicles").DataTable({
            orderCellsTop: true,
            order: [[3, 'asc']],
            "lengthMenu": [
                [50, 100, -1],
                [50, 100, "All"]
            ]
        });
    });
</script>
{% endblock %}